<% selected_category = params[:category].to_s.downcase %>

<div class="accessory-banner-wrapper">
  <%= image_tag("accessories/accessory_banner_img.png", alt: "Accessory Banner", class: 'banner-img') %>

  <div class="banner-text">
    <h1>Fast Accessories for Fast PCs</h1>
    <p>
      Enhance your gaming or productivity setup with our handpicked collection of high-performance accessories.
      Speed, precision, and comfort—right at your fingertips.
    </p>
    <%= link_to "Shop Now","#accessory-list", class: "shop-button" %>
  </div>
</div>

<h2>CATEGORIES</h2>
<turbo-frame id="accessory-categories">
  <%= render "categories" %>
</turbo-frame>

<turbo-frame id="accessory-list">
  <%= render partial: "list", locals: { accessories: @accessories } %>
</turbo-frame